*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EDCAD1;
    font-family: 'Gentium Plus', serif;
  }

  .container{
    margin: 100px auto;
    width: 400px;
    display: flex;
    flex-direction: column;

  }

  .quote-box {
    border: 3px solid #945663;
    border-radius: 2em;
    padding: 40px 20px;
    margin-bottom: 20px;
  }

  #quote{
    color: #150C0E;
    text-align: center;
  }
  #btn {
    text-align: center;
    border-radius: 2em;
    padding: 10px 15px;
    color: #7F4A55;
    font-weight: bold;
    cursor: pointer;
  }

  #btn:hover{
    background-color:#7BB9D3;
  }

  #author{
    font-weight: bold;
    color: #150C0E;
    font-style: italic;
    margin-top: 10px;
    float: right;
  }